# ===============================
# Java
# ===============================
*.class

# Compiled output
bin/
out/

# ===============================
# Package files
# ===============================
*.jar
*.war
*.ear
*.nar

# ===============================
# Logs
# ===============================
*.log
hs_err_pid*

# ===============================
# IDEs
# ===============================

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db